@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,700;0,900;1,500&display=swap');

html, body{
    padding: 0; margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1b1f3b
}

footer{
    margin: 0;
    padding: 24px 0 48px;
}

footer p{
    margin-bottom: 0;
}

footer ul.icons{
    margin-left: -8px;
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.banner{
    background: #ffcc00;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
}
  
h1, h2 {
    font-size: 32px;
    line-height: 1.2em;
    margin: 40px 0 20px;
    font-weight: 900;
}

p{
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
}
p.caption{
    opacity: .5;
    font-style: oblique;
    margin-top: 8px;
    font-size: 16px;
    text-align: center;
}
p.footnote{
    opacity: .5;
    font-style: oblique;
    margin-top: 40px;
    font-size: 16px;
}

ul, ol, li{
    font-size: 20px;
    line-height: 30px;
}

form{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
}

label{
    display: block;
    margin-bottom: 4px;
    font-weight: 900;
}
input[type="email"],
input[type="text"]{
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    padding: 8px 12px;
    margin-bottom: 12px;
}

input[type="submit"],
a.cta{
    background-color: #3259ff;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    padding: 12px 20px;
    cursor: pointer;
    position: relative;
}
input[type="submit"]:hover,
a.cta:hover{
    background-color: #3259ff;
}
input[type="submit"]:active,
a.cta:active{
    top: 1px;
}

img{
    display: block;
    max-width: 100%;
}
img.logo{
    width: 120px;
    position: absolute;
    left: -120px;
    top: -64px;
    border-radius: 50%;
}
img.fill{
    width: 100%;
}
img:not(.logo){
    border-radius: 12px;
}

iframe.rounded-corners{
    border-radius: 12px;
}

.hilight{
    background-color: #ffcc00;
}

a{
    color: #3259ff;
}
a:hover, a:active{
    color: #1b1f3b;
}

.hero{
    position: relative;
    background-color: #3259ff;
    border-radius: 12px;
    overflow: hidden;
}

.hero img{
    position: relative;
}

.hero .bgimg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: #3259ff url("./img/banner.jpg") no-repeat right center;
    background-size: cover;
}

.hero .copy{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 270px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1{
    margin: 0 0 8px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.hero h3{
    margin-top: 0;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

ul.icons{
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;
}

ul.icons li{
    list-style: none;
    padding: 0;
    margin: 0 12px 0 0;
    display: block;
}

ul.icons li a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #3259ff;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

ul.icons li a:hover,
ul.icons li a:active{
    color: #1b1f3b;
}

footer ul.icons{
    margin-top: 16px;
}

footer ul.icons li{
    margin: 0;
}
footer ul.icons li a{
    color: #1b1f3b;
    background-color: transparent;
}
footer ul.icons li a:hover{
    color: #3259ff;
}

ul.icons svg{
    fill: currentcolor;
    width: 100%;
}

ul.icons svg.apple{
    margin-top: -4px;
}

@media (max-width: 920px) {
    .bar{
        height: 20px;
    }

    img.logo{
        width: 120px;
        position: relative;
        left: 0;
        top: 0;
        margin-top: -24px;
    }
}
@media (max-width: 680px) {
    /* .container img:not(.logo){
        width: calc(100% + 40px);
        max-width: none;
        margin-left: -20px;
    } */
    .container img.logo{
        /* margin-left: 0; */
    }
}
@media (max-width: 633px) {
    .hero img{
        display: none;
    }
    .hero .copy{
        padding: 80px 40px;
        position: relative;
    }
    .hero img{
        display: none;
    }
    .hero .bgimg{
        opacity: .3;
    }
}

@media (max-width: 419px) {
    .hero .copy{
        padding: 32px;
    }
    .hero .bgimg{
        background-size: 200%;
    }
}